.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
    color: #09d3ac;
}


.sales-label{
    position: relative;
    padding-top: 100px;
}

.cancel-trade {
    position: relative;
    top: 100px;
}

.div-inline{
    position: relative;
    top: 100px;
}